@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerBloqueio {
    background-image: url('./../../imgs/explosao2.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 427PX;
    background-color: #FFF;
    

}

.datasHoras {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}

.inferior {
    display: flex;
    gap: 0.4rem;
    width: 10px;
    margin-top: 239px;
}

.inferior .ponto {
    margin-top: -5px;
    color: rgba(255, 255, 255, 0.541);
    transform: scale(3);
}

.inferior .camera {
    margin-top: 20px;
    width: 20px;
    height: 15px;
}

.camera #cameraP1 {
    position: relative;
    width: 12px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.541);
    top: 20%;
    border-radius: 1px;
}

.camera #cameraP1::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    border: 1px solid #000;
    width: 2px;
    height: 2px;
    border-radius: 50%;
}

.camera #cameraP1::before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 1.5px;
    height: 1.5px;
    left: 8.5px;
    top: 1.5px;
    border-radius: 50%;
}

.camera #cameraP2 {
    width: 5px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.541);
    margin-top: -6px;
    margin-left: 3.5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}