* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerBloqueio {
    background-image: url('./../../imgs/explosao2.png');
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 430PX;
    background-color: #FFF;
}