@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');

.cotainerHor {
    color: rgba(255, 255, 255, 0.856);
    display: flex;
    gap: 2px;
    font-weight: 600;
    font-family: "Poppins", sans-serif, Arial;
    font-size: 3rem;
}